[Unit]
Description=Vector Proxmox file log shipper
Documentation=https://vector.dev
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart={{ proxmox_vector_install_dir }}/bin/vector --config {{ proxmox_vector_config_path }}
Restart=on-failure
RestartSec=5
WorkingDirectory={{ proxmox_vector_install_dir }}

[Install]
WantedBy=multi-user.target
